chromadb==0.5.0
sentence-transformers==2.7.0
langchain==0.2.0
langchain-chroma==0.1.1
langchain-community==0.2.0
langchain-core==0.2.9
langchain-google-genai==1.0.6
langchain-groq==0.1.4
langchain-huggingface==0.0.1
langchain-openai==0.1.7
langchain-text-splitters==0.2.0
langchainhub==0.1.15
langsmith==0.1.81
google-ai-generativelanguage==0.6.4
google-api-core==2.19.0
google-api-python-client==2.134.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-generativeai==0.5.4
googleapis-common-protos==1.63.0